*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: repeat(13,1fr);
    grid-template-columns: repeat(9,1fr);
    height: 100vh;
}
header{
    background-color: white;
    grid-area: 1/1/4/10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#space{
    visibility: hidden;
    width: 100%;
    height: 10%;
    flex: 1;
}

#logo{
    background-color: gold;
    width: 100%;
    height: 50%;
}

#logo>img{
    width: 5.4%;
    margin-left: 4%;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.788); 
}

#logo>img:hover{
    border: ridge white 1px;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    background-color: rgb(168, 164, 164);
}

nav>a{
    text-align: center;
    padding:0.8%  5.5% 0% 5.5%;
    background-color: rgb(168, 164, 164);
    color: white;
    text-decoration-line: none;
    border: hidden;
    border-radius: 0%;
   
}

nav>a:hover{
     background-color: rgb(204, 204, 204);

}

a:focus{
    background-color:gold ;
}

#nav-div{
    width: 100%;
    height: auto;
}

#nav-div img{
    animation: move 1s ease 0s infinite alternate both;
    margin: 0% 1.5%;
}

main{
    background-color:  rgba(255, 253, 253, 0.685);
    grid-area: 4/1/14/9;
    overflow: auto;
    padding:4%
}

aside{
    margin-top:4%;
    background: rgb(202, 5, 5);
    grid-area: 4/9/14/10;
}

aside img{
    width: 100%;
    transition: margin-top 3s;
}
aside img:hover{
    margin-top: 100%;
}

@keyframes move {
from {margin: 0% 1.5%;}
to {margin: 0% 2%;}
}

@media only screen and (max-width: 768px) {
    .container{
        display: grid;
        grid-template-rows: repeat(13,1fr);
        grid-template-columns: repeat(9,1fr);
        height: 100vh;
    }

    header{
        grid-area: 1/1/3/10;
        flex-flow: column;
    }

    main{
        grid-area: 3/1/14/10;
    }

    aside{
        display: none;
    }

    #space{
        display: none;
    }

    #nav-div img{
        display: none;
    }

    nav{
        flex-wrap: wrap;
        width: 100%;
    }
    
    #nav-div{
        width: 100%;
        height: 100%;
        display: flex;
        align-self: flex-end;
    }
    #logo{
        width: 100%;
        height: 100%;
    }

    #logo>img{
        width: 8%;
        margin-left: 2%;
        margin-top: 2%;
    }
}