main{
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 400px;
}

video{
    width: 100%;
    box-shadow: 4px 7px 7px grey;
    border-radius: 0.2%;
}

main>video:hover{
    box-shadow: 4px 7px 7px rgba(128, 128, 128, 0.288)
}